* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    height: 100vh;
    text-align: center;
    justify-content: center;
    background-size: cover;
        background-image: url(../Website/assets/background1.jpg);
}

/* navigation bar style */
.nav {
    display: flex;
    justify-content: space-between;
    background-color: red;
    /* width: 90%; */
    padding-left: 10px;
}

.nav h1 {
    color: white;
}

.navbar {
    display: flex;
    text-align: center;
    padding-top: 6px;
}

.navbar li a {
    text-align: center;
    text-decoration: none;
    padding: 10px;
    padding-top: 50px;
    margin-top: 50px;
    font-size: 20px;
}

/* main part style */
.second {
    text-align: center;
    /* width: 90%; */
    height: 100%;
    /* background-size: cover;
    background-image: url(../Website/assets/background1.jpg); */
    justify-content: center;
}

.second h1 {
    color: black;
    font-size: 50px;
    padding-top: 80px;
}

.second p {
    font-size: 20px;
    padding-left: 60px;
    padding-top: 50px;
}

.read_more {
    background-color: red;
    font-size: 20px;
    margin-top: 40px;
    padding: 10px;
    color: white;
    border-radius: 10px;
}

.read_more:hover {
    background-color: blue;

}