* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main-section {
    height: 700px;
    width: 1200px;
    background-color: beige;
    margin: 15px;
    padding: 50px;
    justify-content: center;
}

.main {
    justify-content: center;
    display: flex;
    /* align-items: center; */
}

.div {
    margin: 10px;
    height: 500px;
    width: 400px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: white;
    padding-bottom: 0px;
}

.image {
    padding-left: 50px;
    padding-bottom: 0px;
    background-color: blue;
    height: 250px;
    border: 1px solid blue;
    border-radius: 25px 25px 0px 25px;
}

img {
    height: 150px;
    width: 150px;
    border: 1px solid white;
    outline: 2px solid blanchedalmond;
    border-radius: 50%;
    margin: 15%;
    outline-offset: 5px;
}

h2 {
    align-self: center;
    padding-left: 70px;
    padding-top: 30px;
    padding-left: 130px;
}

.about {
    background-color: white;
    align-self: center;

    height: 250px;
    /* border: 1px solid black; */
    border-radius: 0px 25px 25px 25px;
}

p {
    margin: 5%;
}

button {
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 25%;
    height: 50px;
    width: 100px;
    font-size: 16px;
    background-color: blue;
    color: white;
}

.slide {
    width: 1100px;
    height: 60px;
    background-color: blue;
    text-align: center;
    border-radius: 25px;
}

h1 {
    padding: 5px;
    font-size: 50px;
    color: white;
}


.top_layer {
    background-color: blue;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}