.color {
    color: blueviolet;
}

.bgcolor {
    background-color: red;
    color: beige;
}

.border {
    height: 100px;
    width: 100px;
    font-size: 35px;
    margin-left: 10px;
}

section {
    display: flex;
}

#border1 {
    border-width: 10px;
    border-style: solid;
    border-color: red;
}

#border2 {
    border: 10px dotted blue;
}


#border3 {
    border: 10px dashed chocolate;
}

#border4 {
    border: 10px double rgb(43, 255, 0);
}

#border5 {
    border: 10px groove goldenrod;
}

#border6 {
    border: 10px ridge blue;
}

#border7 {
    border: 10px inset rebeccapurple;
}

#border8 {
    border: 10px outset green;
}

#border9 {
    border: 10px none beige;
}

#border10 {
    border: 10px hidden blue;
}

#border11 {
    height: 100px;
    border-width: 10px;
    border-style: solid dotted double dashed;
    border-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

#border12 {
    height: 100px;
    border-width: 10px;
    border-style: dotted double;
    border-color: yellowgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

#border13 {
    height: 100px;
    border: 10px solid crimson;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    border-width: 2px;
    border-color: cyan;
    border-style: dashed;
}