* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    margin: 30px 20px;
}

.logo_class {
    display: flex;
}

.logo {
    max-width: 8%;
    max-height: 100%;
}

.logo_header {
    align-self: center;
    padding: 10px;
}

.nav_list {
    display: flex;
    padding: 10px;
}

li {
    padding: 10px;
    font-size: 20px;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

.dropbtn {
    background-color: transparent;
    border: none;
    font-size: 18px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: #0087ab;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: #0087ab;
}

.buy_now {
    border: 2px solid black;
    border-radius: 10px;
}

.buy_now:hover {
    background-color: #0087ab;
}

.section1 {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #0a1c44;
    justify-content: space-between;
}

.para1 {
    background-color: #0a1c44;
    margin-left: 20%;
    margin-right: 20%;
}

.para1 h1 {
    font-family: 'Open Sans';
    font-size: 60px;
    font-weight: bolder;
    color: white;
    /* margin-left: 20%;
    margin-right: 20%; */
    padding-top: 50px;
}

.para1 p {
    font-size: 20px;
    color: white;
    padding-top: 10%;
    padding-bottom: 10%;
}

.para1 .img1 {
    position: relative;
    background: transparent;
}

.btn_signup {
    font-size: 20px;
    background-color: #0087ab;
    /* padding-top: 10%; */
    align-self: center;
    padding: 10px;
    color: white;
    border-radius: 10px;
}

.btn_signup:hover {
    color: #0087ab;
    background-color: white;
}

.btn_learn {
    font-size: 20px;
    background-color: #0a1c44;
    /* padding-top: 10%; */
    align-self: center;
    padding: 10px;
    color: white;
    border-radius: 10px;
    border-color: white;
}

.btn_learn:hover {
    background-color: white;
    color: black;
}